
<p>
  <strong>User:</strong>
  <%= @relation.user.full_name %>
</p>

<p>
  <strong>Clan:</strong>
  <%= @relation.clan.name %>
</p>

<%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to 'Back', relations_path %>
