
<h1>Budgets</h1>

<table class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Year/Season</th>
        <th>Amount</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @budgets.each do |budget| %>
        <tr>
          <td><%= budget.year %></td>
          <td><%= budget.amount %></td>
          <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table>

<br>

<%= link_to 'New Budget', new_budget_path %>
