
<h1>Clans and Relations (Families and their User Members)</h1>

<table class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>User/Relation</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clans.each do |clan| %>
        <tr>
          <td><%= clan.name %></td>
          <td>
          <% clan.relations.each do |relation| %> <!--each relation under clan -->
            <ul>
              <li><%= relation.user.first %></li>
            </ul>

          <% end %>
          </td>
          <td><%= link_to 'Delete Clan', clan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table>

<br>

<%= link_to 'New Clan', new_clan_path %>
